{% extends 'index.html' %}
{% block content %}
<div class="container">
    <div class="row" id="section-title">
        <div class="col-md-11">
            <p>Search results · all repositories</p>
        </div>
        <div class="col-md-1">
            <div id="back-link">
                <a id="icon-arrow-left" href="#" title="Back" onclick="window.history.back();">
                    <span class="element-invisible">Back</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 filters rounded-start">
            {% if query %}
            <div class="row">
                <h5 style="color: #00A6D6">Query</h5>
                <ul class="ul-query">
                    <li class="li-query">
                        <a href="{{ url_for('index') }}" title="Remove {{ query }}">(-) {{ query }}</a>
                    </li>
                </ul>
            </div>
            {% endif %}
            <div class="row">
                <h5>Collection</h5>
            </div>
            <div class="row">
                <h5>Document Type</h5>
            </div>
            <div class="row">
                <h5>Subject</h5>
            </div>
            <div class="row">
                <h5>Author</h5>
            </div>
            <div class="row">
                <h5>Date</h5>
            </div>
        </div>
        <div class="col-md-9 documents rounded-end">
            {% with query=query, documents=documents, total_pages=total_pages, page=page, start_idx=start_idx,
            end_idx=end_idx, total_documents=total_documents %}
            {% include 'search_navigation.html' %}
            {% endwith %}

            <div class="row document-results">
                {% if documents %}
                {% with query=query, documents=documents, total_pages=total_pages, page=page, start_idx=start_idx,
                end_idx=end_idx, total_documents=total_documents %}
                {% include 'search_document.html' %}
                {% endwith %}

                {% else %}
                <div class="col-md-12">
                    <h4>Enter a search query</h4>
                </div>
                {% endif %}
            </div>

            <!-- Pagination at end of documents if there is a long list -->
            {% if end_idx - start_idx >= 20 %}
            {% with query=query, documents=documents, total_pages=total_pages, page=page, start_idx=start_idx,
            end_idx=end_idx, total_documents=total_documents %}
                {% include 'search_navigation.html' %}
            {% endwith %}
            {% endif %}




        </div>
    </div>
</div>
<!-- Clear selectedKeywords localStorage variable on a new search -->
{% if new_search %}
<script>
    localStorage.removeItem("selectedKeywords");
</script>
{% endif %}

<!-- Add JavaScript to handle checkbox selection -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let selectedKeywords = new Set(JSON.parse(localStorage.getItem("selectedKeywords")) || []);

        function updateCheckboxes(value, isChecked) {
            document.querySelectorAll(".keyword-checkbox").forEach(function (checkbox) {
                if (checkbox.value === value) {
                    checkbox.checked = isChecked;
                }
            });
        }

        function storeSelectedKeywords() {
            localStorage.setItem("selectedKeywords", JSON.stringify(Array.from(selectedKeywords)));
        }

        document.querySelectorAll(".keyword-checkbox").forEach(function (checkbox) {
            checkbox.addEventListener("change", function () {
                const isChecked = checkbox.checked;

                if (isChecked) {
                    selectedKeywords.add(checkbox.value);
                } else {
                    selectedKeywords.delete(checkbox.value);
                }

                if (selectedKeywords.size > 9) {
                    checkbox.checked = false;
                    selectedKeywords.delete(checkbox.value);
                    isChecked = false;
                }

                updateCheckboxes(checkbox.value, isChecked);
                storeSelectedKeywords();

                // Update checkbox colors
                updateCheckboxColors();
            });
        });

        updateCheckboxes();

        const colorMapping = {};
        const colors = ['#e41a1c', '#377eb8', '#4daf4a', '#984ea3', '#ff7f00', '#ffff33', '#a65628', '#f781bf', '#999999'];

        function getColor(value) {
            if (!colorMapping[value]) {
                colorMapping[value] = colors[Object.keys(colorMapping).length % colors.length];
            }
            return colorMapping[value];
        }

        const checkboxes = document.querySelectorAll(".form-check-input");

        function updateCheckboxColors() {
            checkboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    const color = getColor(checkbox.value);
                    checkbox.classList.add("custom-checkbox");
                    checkbox.style.backgroundColor = color;
                    checkbox.style.borderColor = color;
                } else {
                    checkbox.classList.remove("custom-checkbox");
                    checkbox.style.backgroundColor = "";
                    checkbox.style.borderColor = "";
                }
            });
        }

        updateCheckboxColors();
    });
</script>

{% endblock %}