{% for doc in documents %}
    {% if loop.index % 2 == 1 %}
        <dl style="background-color: #F1F2F2;">
    {% else %}
        <dl>
    {% endif %}
    <dt>
        <i class="icon-document"></i>
        <span class="doc-span">document</span>
    </dt>
    <dd>
        <div>
            <a href="{{ url_for('document', uuid=doc.uuid, query=query) }}" title="doc.title">{{
                doc.title }}</a>
        </div>
        {{ doc.authors }}
        <div>
            {{ doc.abstract|truncate(100, True, '...') }}
        </div>
        <em> {{ doc.doctype }} {{ doc.date }}</em>

    </dd>
</dl>
{% endfor %}
